@import url('https://static.ppsfleet.navy/fonts/gen_light/style.css');


html {
  height: 100%;
  background: #F7F0E7;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #E8E0D6 1px, transparent 1px),
    linear-gradient(to bottom, #E8E0D6 1px, transparent 1px);
}

h1 {
  font-family: 'Noto Serif';
  text-align: center;
  font-weight: 100;
  font-size: 4rem;
  margin: 2rem 0;
}

h2, h3 {
  font-family: 'Noto Serif';
}

#recette-page {
  display: flex;
  background: #F7F0E7;
  max-width: 1100px;
  margin: auto;
  font-family: Courier, 'Noto Sans Mono';
  height: 100%;
  box-shadow: -7px 7px 14px #cfcac2;
  border: 30px solid white;
  box-sizing: border-box;
}

#recette-page aside {
  border-right: 1px dashed #797979;
  padding-left: 3rem;
  width: 250px;
}

.ingredients > ul {
  list-style: none;
  padding: 0;
}

.ingredients > ul > li {
  margin: 0.5rem 0;
}

.citation {
  margin: 2rem 0;
  height: 6rem;
}

.citation-content {
  border-left: 1px solid lightgray;
  padding-left: 0.5rem;
  margin-right: 3rem;
  text-align: justify;
}

#recette-page #right-part {
  flex:1;
  padding: 1rem;
}

#recette-page #right-part p{
  font-size: 1.3rem;
}